<div class="login-container">
    <form [formGroup]="loginForm" *ngIf="isSignIn" class="login-form">
        <h2>Sign In</h2>
        <mat-form-field class="login-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
                type="email"
                matInput
                formControlName="email"
                [formControl]="$any(loginForm).get('email')">
            <mat-error *ngIf="$any(loginForm).get('email')?.hasError('email') && !$any(loginForm).get('email')?.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="$any(loginForm).get('email')?.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="login-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input
                type="password"
                matInput
                formControlName="password"
                [formControl]="$any(loginForm).get('password')">
            <mat-error *ngIf="$any(loginForm).get('password')?.hasError('minlength') && !$any(loginForm).get('password')?.hasError('required')">
                Password must have at least 6 characters
            </mat-error>
            <mat-error *ngIf="$any(loginForm).get('password')?.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>

    <form [formGroup]="signUpForm" *ngIf="!isSignIn" class="login-form">
        <h2>Sign Up</h2>
        <mat-form-field class="login-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
                type="email"
                matInput
                formControlName="email">
            <mat-error *ngIf="$any(signUpForm).hasError('email') && !$any(signUpForm).hasError('required')">Please enter a valid email address</mat-error>
            <mat-error *ngIf="$any(signUpForm).hasError('required')">Email is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="login-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input
                type="password"
                matInput
                formControlName="password"
                [formControl]="$any(signUpForm).get('password')">
            <mat-error *ngIf="$any(signUpForm).get('password')?.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-checkbox [formControl]="$any(signUpForm).get('asAdmin')">Create admin account</mat-checkbox>
    </form>

    <p><a [routerLink]="" (click)="onFormSelect()">{{ isSignIn ? 'New to the app? Sign up.' : 'Already have an account? Sign in.'}}</a></p>

    <mat-error *ngIf="(authService.error$ | async) as error">
        {{ error }}
    </mat-error>
    
    <button
        type="button"
        mat-raised-button
        color="primary"
        (click)="onSubmit()">{{ isSignIn ? 'Sign In' : 'Sign Up'}}
    </button>
</div>


